<div class="inmiddle2 container-fluid">
    <div ng-show="vm.bigCurrentPage === 1">
        <h1 class="text-center">星期一</h1>
        </br>
        </br>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-condensed">
                <colgroup>
                    <col span="1" style="width: 33%;">
                    <col span="1" style="width: 33%;">
                    <col span="1" style="width: 33%;">
                </colgroup>
                <thead >
                <tr>
                    <th class="text-center">早餐</th>
                    <th class="text-center">午餐</th>
                    <th class="text-center">晚餐</th>
                </tr>
                </thead>
                <tbody>
                <tr class="info">
                    <td class="text-center">大烤翅</td>
                    <td class="text-center">油焖大虾</td>
                    <td class="text-center">满汉全席</td>
                </tr>
                <tr class="success">
                    <td class="text-center">豆浆</td>
                    <td class="text-center">爆炒牛蛙</td>
                    <td class="text-center">燕窝炖梨</td>
                </tr>
                <tr class="danger">
                    <td class="text-center">油条</td>
                    <td class="text-center">西红柿鸡蛋汤</td>
                    <td class="text-center">酸溜土豆丝</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div ng-show="vm.bigCurrentPage === 2">
        <h1 class="text-center">星期二</h1>
        </br>
        </br>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-condensed">
                <colgroup>
                    <col span="1" style="width: 33%;">
                    <col span="1" style="width: 33%;">
                    <col span="1" style="width: 33%;">
                </colgroup>
                <thead >
                <tr>
                    <th class="text-center">早餐</th>
                    <th class="text-center">午餐</th>
                    <th class="text-center">晚餐</th>
                </tr>
                </thead>
                <tbody>
                <tr class="info">
                    <td class="text-center">大烤翅</td>
                    <td class="text-center">油焖大虾</td>
                    <td class="text-center">满汉全席</td>
                </tr>
                <tr class="success">
                    <td class="text-center">豆浆</td>
                    <td class="text-center">爆炒牛蛙</td>
                    <td class="text-center">燕窝炖梨</td>
                </tr>
                <tr class="danger">
                    <td class="text-center">油条</td>
                    <td class="text-center">西红柿鸡蛋汤</td>
                    <td class="text-center">酸溜土豆丝</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-show="vm.bigCurrentPage === 3"><h1 class="text-center">星期三</h1>
        </br>
        </br>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-condensed">
                <colgroup>
                    <col span="1" style="width: 33%;">
                    <col span="1" style="width: 33%;">
                    <col span="1" style="width: 33%;">
                </colgroup>
                <thead >
                <tr>
                    <th class="text-center">早餐</th>
                    <th class="text-center">午餐</th>
                    <th class="text-center">晚餐</th>
                </tr>
                </thead>
                <tbody>
                <tr class="info">
                    <td class="text-center">大烤翅</td>
                    <td class="text-center">油焖大虾</td>
                    <td class="text-center">满汉全席</td>
                </tr>
                <tr class="success">
                    <td class="text-center">豆浆</td>
                    <td class="text-center">爆炒牛蛙</td>
                    <td class="text-center">燕窝炖梨</td>
                </tr>
                <tr class="danger">
                    <td class="text-center">油条</td>
                    <td class="text-center">西红柿鸡蛋汤</td>
                    <td class="text-center">酸溜土豆丝</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-show="vm.bigCurrentPage === 4">
        <h1 class="text-center">星期四</h1>
        </br>
        </br>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-condensed">
                <colgroup>
                    <col span="1" style="width: 33%;">
                    <col span="1" style="width: 33%;">
                    <col span="1" style="width: 33%;">
                </colgroup>
                <thead >
                <tr>
                    <th class="text-center">早餐</th>
                    <th class="text-center">午餐</th>
                    <th class="text-center">晚餐</th>
                </tr>
                </thead>
                <tbody>
                <tr class="info">
                    <td class="text-center">大烤翅</td>
                    <td class="text-center">油焖大虾</td>
                    <td class="text-center">满汉全席</td>
                </tr>
                <tr class="success">
                    <td class="text-center">豆浆</td>
                    <td class="text-center">爆炒牛蛙</td>
                    <td class="text-center">燕窝炖梨</td>
                </tr>
                <tr class="danger">
                    <td class="text-center">油条</td>
                    <td class="text-center">西红柿鸡蛋汤</td>
                    <td class="text-center">酸溜土豆丝</td>
                </tr>
                </tbody>
            </table>
        </div></div>
    <div ng-show="vm.bigCurrentPage === 5">
        <h1 class="text-center">星期五</h1>
        </br>
        </br>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-condensed">
                <colgroup>
                    <col span="1" style="width: 33%;">
                    <col span="1" style="width: 33%;">
                    <col span="1" style="width: 33%;">
                </colgroup>
                <thead >
                <tr>
                    <th class="text-center">早餐</th>
                    <th class="text-center">午餐</th>
                    <th class="text-center">晚餐</th>
                </tr>
                </thead>
                <tbody>
                <tr class="info">
                    <td class="text-center">大烤翅</td>
                    <td class="text-center">油焖大虾</td>
                    <td class="text-center">满汉全席</td>
                </tr>
                <tr class="success">
                    <td class="text-center">豆浆</td>
                    <td class="text-center">爆炒牛蛙</td>
                    <td class="text-center">燕窝炖梨</td>
                </tr>
                <tr class="danger">
                    <td class="text-center">油条</td>
                    <td class="text-center">西红柿鸡蛋汤</td>
                    <td class="text-center">酸溜土豆丝</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div ng-show="vm.bigCurrentPage === 6">
        <h1 class="text-center">星期六</h1>
        </br>
        </br>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-condensed">
                <colgroup>
                    <col span="1" style="width: 33%;">
                    <col span="1" style="width: 33%;">
                    <col span="1" style="width: 33%;">
                </colgroup>
                <thead >
                <tr>
                    <th class="text-center">早餐</th>
                    <th class="text-center">午餐</th>
                    <th class="text-center">晚餐</th>
                </tr>
                </thead>
                <tbody>
                <tr class="info">
                    <td class="text-center">大烤翅</td>
                    <td class="text-center">油焖大虾</td>
                    <td class="text-center">满汉全席</td>
                </tr>
                <tr class="success">
                    <td class="text-center">豆浆</td>
                    <td class="text-center">爆炒牛蛙</td>
                    <td class="text-center">燕窝炖梨</td>
                </tr>
                <tr class="danger">
                    <td class="text-center">油条</td>
                    <td class="text-center">西红柿鸡蛋汤</td>
                    <td class="text-center">酸溜土豆丝</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div ng-show="vm.bigCurrentPage === 7">
        <h1 class="text-center">星期日</h1>
        </br>
        </br>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-condensed">
                <colgroup>
                    <col span="1" style="width: 33%;">
                    <col span="1" style="width: 33%;">
                    <col span="1" style="width: 33%;">
                </colgroup>
                <thead >
                <tr>
                    <th class="text-center">早餐</th>
                    <th class="text-center">午餐</th>
                    <th class="text-center">晚餐</th>
                </tr>
                </thead>
                <tbody>
                <tr class="info">
                    <td class="text-center">大烤翅</td>
                    <td class="text-center">油焖大虾</td>
                    <td class="text-center">满汉全席</td>
                </tr>
                <tr class="success">
                    <td class="text-center">豆浆</td>
                    <td class="text-center">爆炒牛蛙</td>
                    <td class="text-center">燕窝炖梨</td>
                </tr>
                <tr class="danger">
                    <td class="text-center">油条</td>
                    <td class="text-center">西红柿鸡蛋汤</td>
                    <td class="text-center">酸溜土豆丝</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <ul uib-pager total-items="vm.bigTotalItems" ng-model="vm.bigCurrentPage"
        next-text=">" previous-text="<">
    </ul>


    <!--<ul uib-pagination total-items="vm.bigTotalItems" ng-model="vm.bigCurrentPage"-->
        <!--next-text="后一天" previous-text="前一天"-->
        <!--max-size="vm.bigmaxSize" class="pagination-md" num-pages="numPages" rotate="true">-->
    <!--</ul>-->
</div>

