$primary-color: #A37;

#title {
	  color: $primary-color;
}

h1 { 
	text-align: center;
 }

.inmiddle{
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 50px;
	margin-right: 50px;
}

.drop-box {
	background: #F8F8F8;
	border: 5px dashed #DDD;
	width: 170px;
	text-align: center;
	padding: 50px 10px;
	margin-left: 10px;
}
