<div class="inmiddle container-fluid">
    <form name="userForm" novalidate="">
        <div ng-show="vm.message" class="alert alert-danger">
            {{vm.message}}
        </div>

        <div class="form-group" ng-class="{ 'has-error' : userForm.name.$error.required || userForm.name.$error.pattern}">
            <label>用户名</label>
            <input type="text" name="name" class="form-control" ng-model="vm.user.name" required="" placeholder="长度为3~12并且由字母组成" pattern="[A-z]{3,12}">
            <p ng-show="userForm.name.$error.required" class="help-block">请输入用户名</p>
            <p ng-show="userForm.name.$error.pattern" class="help-block">用户名长度为3~12并且由字母组成</p>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : userForm.password.$error.required || userForm.password.$error.pattern}">
            <label>密码</label>
            <input type="password" name="password" class="form-control" ng-model="vm.user.password" required placeholder="密码3~9位数字" pattern="\d{3,9}">
            <p ng-show="userForm.password.$error.required" class="help-block">请输入密码</p>
            <p ng-show="userForm.password.$error.pattern" class="help-block">密码必须3~9位数字</p>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : userForm.emailname.$error.required || userForm.emailaddress.$error.required || userForm.emailaddress.$error.required}">
            <label>邮箱</label>
            <div class="row">
                <div class="col-xs-7">
                    <input type="text" ng-model="vm.email.name" name="emailname" class="form-control" required ng-model="vm.email.name" placeholder="任意邮箱名">
                </div>
                <div class="col-xs-5">
                    <input type="text"  list="email"name="emailaddress" ng-model="vm.email.address"  class="form-control" required ng-model="vm.email.address" pattern="@[a-z0-9.-]+\.[a-z]{2,3}$"
                    placeholder="@gmail.com">
                    <datalist id="email">
                        <option value="@gmail.com">
                        <option value="@hotmail.com">
                        <option value="@yahoo.com">
                        <option value="@yeah.net">
                    </datalist>
                    <p ng-show="userForm.emailaddress.$error.pattern" class="help-block">请输入正确的邮箱格式</p>
                </div>
            </div>
            <p ng-show="userForm.emailname.$error.required || userForm.emailaddress.$error.required" class="help-block">请输入邮箱</p>
        </div>

<div class="form-group">
    <label>性别</label>
    </br>
    <div class="row">
        <div class="col-xs-6">
            <input type="radio" ng-model="vm.user.gender" value="male">男
        </div>
        <div class="col-xs-6">
            <input type="radio" ng-model="vm.user.gender" value="female">女
        </div>
    </div>
</div>
<div class="date-picker-module form-group">
    <label>出生日期</label>
    <input date-range-picker="" class="form-control date-picker" type="text" ng-model="vm.daterange" options="{singleDatePicker: true}">
</div>
<div class="form-group">
    <label>地址</label>
    <ui-select ng-model="vm.selectedItem" search-enabled="true">
        <ui-select-match placeholder="请选择地址">
            <span ng-bind="vm.selectedItem.address"></span>
        </ui-select-match>
        <ui-select-choices repeat="item in (vm.selectedCity | filter: $select.search) track by item.id">
            <span ng-bind="item.address"></span>
        </ui-select-choices>
    </ui-select>
</div>

<button class="btn btn-primary btn-block"
        ng-click="vm.open()"
        ng-disabled="userForm.$invalid">立即注册
</button>
<script type="text/ng-template" id="modal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">注册成功</h3>
    </div>
    <div class="modal-body" id="modal-body">
        {{vm.greetmessage}}
    </div>
</script>


</form>
</div>



