<div class="inmiddle container-fluid">
    <form name="userForm" novalidate="">
        <div ng-show="vm.message" class="alert alert-danger">
            {{vm.message}}
        </div>

        <div class="form-group" >
            <label><span class="star" style="color: firebrick">*</span>用户名</label>
            <input type="text" name="name" class="form-control" ng-model="vm.username" required="" ng-change="vm.usernamechange()" ng-model-options="{allowInvalid: true}" placeholder="由3~12位字母组成" pattern="[A-z]{3,12}">
            <p ng-show="userForm.name.$error.required && vm.usernameinput" class="has-error" style="color: firebrick">请输入用户名</p>
            <p ng-show="userForm.name.$error.pattern && vm.usernameinput" class="has-error"style="color: firebrick">用户名长度为3~12并且由字母组成</p>
        </div>

        <div class="form-group">
            <label> <span class="star" style="color: firebrick">*</span>密码</label>
            <input type="password" name="password" class="form-control" ng-model="vm.password"  ng-change="vm.passwordchange()" ng-model-options="{allowInvalid: true}" required placeholder="密码3~9位数字" pattern="\d{3,9}">
            <p ng-show="userForm.password.$error.required && vm.passwordinput" class="has-error" style="color: firebrick">请输入密码</p>
            <p ng-show="userForm.password.$error.pattern && vm.passwordinput" class="has-error" style="color: firebrick">密码必须3~9位数字</p>
        </div>

        <div class="form-group">
            <label>邮箱</label>
                    <input type="text" ng-model="vm.email" list='email' name="email" class="form-control" required ng-model="vm.email" placeholder="yuyuyu@163.com" ng-change="vm.complete()" ng-model-options="{allowInvalid: true}" pattern="^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+">
            <datalist id="email">
                <option value="{{vm.emailname}}{{address.title}}"  ng-if="vm.show" ng-repeat="address in vm.emailaddress" >
            </datalist>
            <p ng-show="userForm.email.$error.pattern" class="has-error" style="color: firebrick">请输入正确的邮箱格式</p>
        </div>

<div class="form-group">
    <label>性别</label>
    </br>
    <!--<div class="row">-->
        <!--<div class="col-xs-6">-->
            <label><input type="radio" ng-model="vm.gender" value="male">男</label> &nbsp;&nbsp;&nbsp;&nbsp;
        <!--</div>-->
        <!--<div class="col-xs-6">-->
            <label><input type="radio" ng-model="vm.gender" value="female">女</label>
        <!--</div>-->
    <!--</div>-->
</div>
<div class="date-picker-module form-group">
    <label>出生日期</label>
    <input date-range-picker="" class="form-control date-picker" type="text" ng-model="vm.daterange" options="{singleDatePicker: true}"  max="vm.today">
</div>
<div class="form-group">
    <label>地址</label>
    <input type="text" list="address" ng-model="vm.address"  class="form-control" placeholder="台州市">
    <datalist id="address">
        <option value="珠海市">
        <option value="广州市">
        <option value="株洲市">
        <option value="惠州市">
    </datalist>
</div>

<button class="btn btn-primary btn-block"
        ng-click="vm.create()"
        ng-disabled="userForm.$invalid">立即注册
</button>
<script type="text/ng-template" id="modal.html">

    </div>
</script>

</form>
</div>



